= javascript_include_tag 'bootstrap-checkbox.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css'
- provide(:title, "Edit Post")
%h1.page-header{align: 'center'} Edit Post
.row
  .col-md-6.col-md-offset-3
    = form_tag user_path, method: 'put' do
      .form-group
        = label_tag :first_name
        = text_field_tag :first_name, @user.first_name, autocomplete: "off", class: 'form-control'
        %br
        = label_tag :last_name
        = text_field_tag :last_name, @user.last_name, autocomplete: "off", class: 'form-control'
        %br
        = label_tag :gender
        = select_tag :gender, options_for_select(['Male', 'Female'], @user.gender), class: "form-control"
        %br
        = label_tag :dob
        #datetimepicker.input-group
          .form-control= text_field_tag :dob, @user.dob, style: "border: none"
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
        %br
        = label_tag :public
        %em
          (If 'NO', only users who follow you will be able to view your posts.)
        %br
        %input{"data-reverse" => "", "type" => 'checkbox', "data-off-icon-cls" => "glyphicon-thumbs-down", "data-on-icon-cls" => "glyphicon-thumbs-up", 'checked' => @user.public, name: 'public'}
        %br
        %br
        = submit_tag "Save", class: "btn btn-primary"

:javascript
  var tenYears = new Date();
  tenYears.setTime(tenYears.valueOf() - 14 * 365 * 24 * 60 * 60 * 1000);
  $(function () {
    $('#datetimepicker').datetimepicker({
      format: 'DD/MM/YYYY',
      maxDate: tenYears
    });
  });

  $(function () {
    $(':checkbox').checkboxpicker();
  })