.row
  .col-md-8.col-md-offset-2
    = form_for(@post) do |f|
      - if @post.errors.any?
        #error_explanation
          %h2
            = "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
          %ul
            - @post.errors.full_messages.each do |msg|
              %li
                = msg
      = f.label :title
      = f.text_field :title, autofocus: true, class: 'form-control'
      = f.label :body
      = f.text_area :body, autocomplete: "off", rows: 20, class: 'form-control'
      %br
      .actions
        = f.submit "Save As Draft", class: "btn btn-warning"
        = f.submit "Publish", class: "btn btn-success"
    - if @post.id.present?
      %br
      = form_for(@post, html: { method: :delete }) do |f|
        = f.submit 'Delete Post', class: "btn btn-danger"