%article
  - @posts.each do |post|
    %h2
      %a{href: post_path(post)}= post.title
    .row
      .group1.col-sm-6.col-md-6
        %span.glyphicon.glyphicon-pencil
        %a{href: user_path(post.user)}= post.user.full_name
      .group2.col-sm-6.col-md-6{style: "text-align: right;"}
        %span.glyphicon.glyphicon-eye-open
        = "#{post.views} Views"
        %span.glyphicon.glyphicon-time
        = post.created_at.strftime("%b %d, %Y")
    %hr
    %p.lead{style: "text-align: justify;"}= truncate(post.body, length: 250)
    %p ...
    %p.text-right
      %a{href: post_path(post)}
        continue reading...
    %hr
  %ul.pager
    - if paginate
      = will_paginate @posts, renderer: BootstrapPagination::Rails