%header.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .row
      .col-md-8.col-md-offset-2
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: root_path} TestBlog
        .navbar-collapse.collapse
          .col-sm-4.col-md-4
            #search
              = form_tag search_posts_path, method: 'get', class: 'navbar-form', role: 'search' do
                .input-group
                  = text_field_tag :query, params[:query], size: 150, placeholder: "Search", class: "form-control"
                  .input-group-btn
                    = button_tag(type: "submit", class: "btn btn-default") do
                      %i.glyphicon.glyphicon-search
          %ul.nav.navbar-nav.navbar-right
            - if current_account.present?
              %li
                = link_to "LogOut", destroy_account_session_path, method: "delete"
              - if current_account.user?
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: ''}
                    Settings
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to "Profile", edit_user_path(current_account.accountable)
                    %li
                      = link_to "Change Password", edit_account_registration_path
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: ''}
                    Posts
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to "New Post", new_post_path
                    %li
                      = link_to "My Drafts", drafts_posts_path(current_account.accountable)
                    %li
                      = link_to "Published", published_posts_path(current_account.accountable)
              - if current_account.admin?
                %li
                  = link_to "Admin Dashboard", rails_admin_path
            - else
              %li
                = link_to "LogIn", new_account_session_path
              %li
                = link_to "SignUp", new_account_registration_path
            %li
              = link_to "Download Resume", '/Md. Farhan Memon.pdf', target: '_blank'

:javascript
  var titles = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: #{Constant::POST_TITLES},
  });

  $('#search .form-control').typeahead('destroy').typeahead({
    hint: true,
    highlight: true,
    minLength: 2
  },
  {
    source: titles
  });
